footer{
    background-color: var(--color-bg-secondary);
    padding: 34px 0;
    text-align: center;
}

.dsct-footer-container {
    color: var(--color-font-primary);
    display: grid;
    grid-gap: 10px;
}

.dsct-footer-container p,a{
    font-size: 16px;
}

@media(min-width:992px){
     .dsct-footer-container {
        display: flex;
        justify-content: space-between;
    }
}